* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html
body {
  font-family: 'Montserrat', sans-serif;;
}
#header {
  background: url('images/slide-home-AG-Medias-Services.jpg');
  height: 90vh; 
  background-position: center;
  background-size: cover;
}
#header-abt {
  background: url('images/slide-home-AG-Medias-Services-About-1.jpg');
  height: 90vh; 
  background-position: center;
  background-size: cover;
}
.nav-link {
  margin-left: 1.5rem;
}
.navbar {
  height: 80px;
}
.navbar img {
  max-width: 180px;
}
.info h1 {
  width: 60%;
  font-size: 5rem;
}
span {
  color:#0071bd;
}
.info a {
  background:  #0071bd;
  padding: 10px 18px;
  text-decoration: none !important;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}
.info a:hover {
  background: #40e1f7;
}
.img-box {
  width: 45%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 100px;
}
.img-box img {
  max-height: 100%;
  position: absolute;
  left: 60%;
  bottom: 0;
  transform: translateX(-50%);
}
/*********End Header **********/
.cta-down {
  background: #383b5a;
}
.flip-box-inner h5 {
  font-size: 1.5rem;
}
.flip-box-inner img {
  transition: all .1s ease-out;
  cursor: pointer;
}
.flip-box-inner:hover img {
  transform: scale(1.3);
}

@media (min-width: 992px) {
  .flip-box-inner h5 {
    margin-top: -10rem !important;
  }
}

@media (min-width: 992px) {
  .panel {
    margin-top: -5rem !important;
  }
}
.section-two{
  padding-top: 15rem;
  margin-bottom: 4rem;
}
/*****Btn ********/
.btn-more {
  width: 180px;
  height: 60px;
  color: #fff;
  text-align: center;
  padding: 18px 9px 10px 9px;
  background: #12c3f1;
  border: 0 !important;
  border-radius: 0;
}
.btn-more:hover {
  background: #467acc;
  transition: all 0.1s ease-in;
}

/******* Services ******/
.services {
  background: #f7f4f4;
}

.slider {
  width: 95%;
  margin: 100px auto;
}

.slick-slide {
margin: 0px 20px;
}

.slick-slide img {
width: 100%;
}

.slick-prev:before,
.slick-next:before {
color: black;
}


.slick-slide {
transition: all ease-in-out .3s;
opacity: .2;
}

.slick-active {
opacity: .5;
}

.slick-current {
opacity: 1;
}
.slick-dots li button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #383b5a;
}
.info-service {
  width: 100%;
  height: auto;
  background: #467acc;
  text-align: center;
}

/************ About *********/

/********Team**********/
.single-team:hover .socials {
  cursor: pointer;
  opacity: 1;
  transform: rotateY(0deg) scale(1, 1);
}
.img-area {
  overflow: hidden;
  position: relative;
}
.img-area img {
  width: 100%;
  transition: all 0.4s ease 0;
}
.img-area:hover img {
  transform: scale(1.2);
}
.img-area .socials {
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .5s;
  transform: rotateY(180deg) scale(0.5, 0.5);
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  min-width: 80%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0);
  background-color: rgba(0,0,0,0.7);
}
.modal-content {
  background-color: rgba(0,0,0,0.5);
  margin: auto;
  color: #fff;
  padding: 20px;
  width: 60%;
}
.close-popup {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  width: 2%;
}
.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.img-area .socials ul {
  text-align: center;
  position: relative;
  top: 3rem;
}
.img-area .socials ul li a {
  border: 1px solid #fff;
  color: #fff;
  display: block;
  font-size: 1.2rem;
  height: 2.5rem;
  width: 2.5rem;
  line-height: 40px;
  text-align: center;
}
.img-area .socials ul li a:hover {
  background-color: #fff;
  color: #000000;
  border: 1px solid transparent;
}
.swap-image-text {
  padding: 25px;
  background-color:  #467acc;
}
.swap-image-text h4 {
  margin: 0 0 5px;
}
.swap-image-text h5 {
  margin: 0 0 5px;
font-size: 15px;
}
/******* download **********/
.download {
  background-color: #dddddd;
}
/********* Footer ********/
.footer{
  padding-top: 6rem;
  padding-bottom: 3rem;
  background-color: #252953;
}
.fot-1{
  list-style: none;
}
.swip > a {
  text-decoration: none !important;
  color: #dddddd !important;
  font-size: 0.9rem;
  font-weight: 400;
  cursor: pointer;
}
.swip > a:hover {
  color: #fff !important;
  cursor: pointer;
}
